@font-face {
  font-family: '旁门正道标题体';
  src        : url('PangMenZhengDaoBiaoTiTi-1.ttf') format('truetype');
}

@font-face {
  font-family: '思源黑体Bold';
  src        : url('bb4171.ttf') format('truetype');
}

@font-face {
  font-family: '思源黑体ExtraLight';
  src        : url('SourceHanSansCN-ExtraLight.otf') format('opentype');
}

@font-face {
  font-family: '思源黑体Heavy';
  src        : url('SourceHanSansCN-Heavy.otf') format('opentype');
}

@font-face {
  font-family: '思源黑体Light';
  src        : url('SourceHanSansCN-Light.otf') format('opentype');
}

@font-face {
  font-family: '思源黑体Medium';
  src        : url('SourceHanSansCN-Medium.otf') format('opentype');
}

@font-face {
  font-family: '思源黑体Normal';
  src        : url('SourceHanSansCN-Normal.otf') format('opentype');
}

@font-face {
  font-family: '思源黑体Regular';
  src        : url('SourceHanSansCN-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'DS-DIGI';
  src        : url('DS-DIGI.TTF') format('truetype');
}

@font-face {
  font-family: 'DS-DIGIB';
  src        : url('DS-DIGIB.TTF') format('truetype');
}