.n-slider {
  .n-slider-rail {
    .n-slider-rail__fill {
      background: var(--datav-gui-slider-track-color);
    }
  }

  .n-slider-handle {
    border: 2px solid var(--datav-gui-primary-color);
  }
}


.n-slider.n-slider--vertical .n-slider-rail {
  height: 100%;
  width : var(--n-rail-height)
}


// .n-slider .n-slider-rail {
//   width: 100%;
//   position: relative;
//   height: var(--n-rail-height);
//   background-color: var(--n-rail-color);
//   transition: background-color .3s var(--n-bezier);
//   border-radius: calc(var(--n-rail-height) / 2);
// }

.g-slider {
  .g-slider-main {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 28px;
  }

  .n-slider {
    width: 92px;
    flex : 0 0 92px;
  }

  .n-input-number {
    width      : 92px;
    margin-left: 4px;

    .n-input__state-border {
      border: 1px solid #888888;
    }
  }
}